body {
    background-image: url("../img/background.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

canvas {
    border: 5px solid black;
    background-image: url("../img/instructions.png");
}

.buttons {
    margin-left: 90px;
    margin-top: 40px;
}
